section
	h1 Desktop Apps with Web Technologies
	p
		small
			|Created by&nbsp;
			a(href="#") Marián Boďa
			|  /
			a(href="#") @marianboda

section
	h2 Web Technologies
		//- h3 What do you mean?
	p
		ul
			li HTML5 + CSS
			li JavaScript
			li ...

section
	h2 Web Technologies
	ul
		li NW.js (Node-Webkit)
		li Atom Shell
		li Brackets Shell

section
	h2 Trends
	small Trending repositories on GitHub for last month
	div#chart


section
	h2 why?
	ul
		li
		li Developer tools

section
	h2 priklady realnych apps
	ul
		li Atom
		li Brackets
		li Popcorn Time

section
	ul
		li io.js
		li chromium


section
	h2 rozdiely atom vs nw

section
	h2 packaging

section
	h2 disadvantages

section
